params {
    comet_threads = 20
    dda_folder = 'Data/DDA'
    comet_params = 'Params/comet.params'
    protein_db = 'Results/Databases/proteome.fasta'
    tpp = '-OAPdplIw -PPM'
    decoy = 'DECOY_'
    no_pool = false
    xinteract_threads = 50
}


process{
    cache = 'lenient'
    withName:comet_search {
	container = 'digitalproteomes/comet:version-2021010'
    }
    withName:xinteract {
	container = 'digitalproteomes/tpp:version-6.0.0.0'
    }
    withName:refactor_pepxml {
	container = 'digitalproteomes/tpp:version-6.0.0.0'
    }
    withName:refactor_protxml {
	container = 'digitalproteomes/tpp:version-6.0.0.0'
    }
    withName:st_peter {
	container = 'digitalproteomes/tpp:version-6.0.0.0'
    }
    withName:st_peter2matrix {
	container = 'digitalproteomes/tpp:version-6.0.0.0'
    }    
    withName:mayu {
	container = 'digitalproteomes/tpp:version-6.0.0.0'
    }
    withName:tpp_stat {
	container = 'digitalproteomes/tpp:version-6.0.0.0'
    }
    withName:pepxml2tsv {
    	container = 'digitalproteomes/tpp:version-6.0.0.0'
    }
    withName:protxml2tsv {
    	container = 'digitalproteomes/tpp:version-6.0.0.0'
    }
    withName:filter_pep_tsv {
    	container = 'digitalproteomes/tpp:version-6.0.0.0'
    }
    withName:proteinprophet {
    	container = 'digitalproteomes/tpp:version-6.0.0.0'
    }
    withName:patch_progenesis {
    	container = 'digitalproteomes/tpp:version-6.0.0.0'	
    }
}


dag {
    enabled = true
    file = 'tpp_dag.html'
    overwrite = true
}


report {
    enabled = true
    file = 'tpp_report.html'
    overwrite = true
}
